[submodule "hardware-video-decoder"]
	path = hardware-video-decoder
	url = https://github.com/bmegli/hardware-video-decoder.git
[submodule "minimal-latency-streaming-protocol"]
	path = minimal-latency-streaming-protocol
	url = https://github.com/bmegli/minimal-latency-streaming-protocol.git
